/**
 * IE specific stylesheet definitions.
*/
#header-right {
  background: transparent;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f374e70,endColorstr=#7f374e70);
  zoom: 1;
}

#shadow {
  text-align: left;
}

#header {
  *margin-top: 10px;
}

#wrapper {
    text-align: center;
}

/* Wrappers for Background images and shadows */
#wrapper-inner-top {
  background: #9AA1A7 url("../images/bg-main-top-low.jpg") repeat-x 0 0;
}
#wrapper-inner-bottom {
  background: url("../images/bg-main-bottom.jpg") repeat-x 0 bottom;
}
#wrapper-inner-color-bar {
  background: url("../images/bg-color-bar-low.jpg") repeat-x 0 160px;
}
#wrapper-inner-shadow-over-left {
  width: 990px;
  margin: auto;
  background: url("../images/bg-shadow-over-left.jpg") no-repeat 30px 2px;

}
#wrapper-inner-shadow-over-right {
  background: url("../images/bg-shadow-over-right.jpg") no-repeat 893px 2px;
}
#wrapper-inner-shadow-repeated-left {
  background: url("../images/bg-shadow-repeated-left.jpg") repeat-y 8px 0;
}
#wrapper-inner-shadow-top-left {
  background: url("../images/bg-shadow-top-left.jpg") no-repeat 8px 0;
}
#wrapper-inner-shadow-color-bar-left {
  background: url("../images/bg-shadow-color-bar-left.jpg") no-repeat 8px 150px;
}
#wrapper-inner-shadow-middle-left {
  background: url("../images/bg-shadow-middle-left.jpg") no-repeat 8px 296px;
}
#wrapper-inner-shadow-bottom-left {
background: url("../images/bg-shadow-bottom-left.jpg") no-repeat 8px bottom;
}
#wrapper-inner-shadow-repeated-right {
  background: url("../images/bg-shadow-repeated-right.jpg") repeat-y 953px 0;
}
#wrapper-inner-shadow-top-right {
  background: url("../images/bg-shadow-top-right.jpg") no-repeat 953px 0;
}
#wrapper-inner-shadow-color-bar-right {
  background: url("../images/bg-shadow-color-bar-right.jpg") no-repeat 953px 150px;
}
#wrapper-inner-shadow-middle-right {
  background: url("../images/bg-shadow-middle-right.jpg") no-repeat 953px 296px;
}
#wrapper-inner-shadow-bottom-right {
background: url("../images/bg-shadow-bottom-right.jpg") no-repeat 953px bottom;
}

#main-wrapper {
  margin-bottom: 2em;
}
