
/** ie7 fixes **/

.primary-menu-inner ul.sf-menu li li {
  overflow: hidden;
}
  .primary-menu-inner ul.sf-menu li li a,
  .primary-menu-inner ul.sf-menu li li a.active,
  .primary-menu-inner ul.sf-menu li li a:visited {
    width: 100%; padding-right: 0;
  }

.footer-bottom {
  padding-top: 0;
}